.DragContainer{
width:30% ;
height:80% !important;
}
.DragContainerContainer {
    height: 100vh;
    display: flex;
    
    justify-content: center;
    gap:20px;
    padding:30px;
    padding-top: 50px;
    

}

.designJobCard {
    border-width: 1px !important;
    border-color: black !important;
    justify-content:space-between;
}
.unassignedContainer{
    height:1000px !important;  

}