.search {
    width: 100%;
    position: center;
    display: flex;
}
.searchButton {
    width: 39px;
    height: 40px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    right: 100%;
}
.filterButton {
    position: right;
    display: flex;
}
.Container {
    max-width: '100%'!important;
  }
.wrap {
    width: 30%;
    position: flex;
    top: 50%;
    left: 100%;
}
.dropBox {
    border: 5px dashed black;
    width:300px;
    height:300px;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
    cursor:pointer  !important;
}