.search {
    width: 100%;
    position: center;
    display: flex;
}
.logo{
    margin-left:5%;
}
.Container {
    max-width: '100%'!important;
  }
.wrap {
    width: 30%;
    position: flex;
    top: 50%;
    left: 100%;
}

.dropBox {
    
    width:200px;
    height:200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 75px;
    cursor:pointer  !important;
}
.dropBoxContainer{
    position:sticky;
    top:200px;
    
    width: 100%;
    left:0px;
    background-color: rgb(233, 233, 233);
    padding-top: 50px;
    height:400px;
    border-radius: 10px 0px 0px 10px;
}
.dropBoxRow{

    padding-left: 0px;
}
.dropBoxListRow{
    padding-right: 0px;
}