.timeCard {
    background-color: #D3D3D3;
    border-radius: 15px;
    
    width: 60% !important;
    margin-right:20px;
    box-shadow:
    inset 0 -3em 3em rgba(162, 144, 144, 0.1),
    0 0 0 2px rgba(137, 110, 110, 0.453),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.buttonOptions{position:relative;
    padding:20px;
    
left: 10px;}