.search {
    width: 100%;
    position: center;
    display: flex;
}
.searchButton {
    width: 39px;
    height: 39px;
    border: 1px solid #ae0000!important;
    background: #ae0000!important;
    border-radius: 0 5px 5px 0!important;
    font-size: 17px;
    right: 100%;
}
.filterButton {
    position: right;
    display: flex;
}
.wrap {
    align-items: center;
    width: 30%;
    position: flex;
    top: 50%;
    left: 50%;
}
.searchBar {
    min-width: 200px;
    height: 39px;
    border: 2px solid #ae0000!important;
    background-color: grey !important;
    border-radius: 5px 0px 0px 5px!important;
    box-shadow: none !important;
}