.search {
    width: 100%;
    position: center;
    display: flex;
}
.searchButton {
    width: 39px;
    height: 40px;
    border: 1px solid #ff1555;
    background: #ff0000;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    right: 100%;
}
.filterButton {
    position: right;
    display: flex;
}
.wrap {
    align-items: center;
    width: 30%;
    position: flex;
    top: 50%;
    left: 50%;
}
.searchBar {
    width: 300px;
    border: 2px solid #ff0000;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none !important;
}