.search {
    width: 100%;
    position: center;
    display: flex;
}
.searchButton {
    width: 39px;
    height: 39px;
    border: 2px solid #ae0000!important;
    border-left:0px!important;
    background: white!important;
    border-radius: 0 20px 20px 0!important;
    font-size: 17px;
   
}
.searchIcon {
    width: 25px;
    height: 25px;
    position:relative;
    top:3px;

}
.filterButton {
    position: right;
    display: flex;
}
.wrap {
    align-items: center;
    width: 30%;
    position: flex;
    top: 50%;
    left: 50%;
}
.searchBar {
    
    min-width: 300px;
    height: 39px;
    margin-left: 7%;
    border: 2px solid #ae0000!important;
    border-right: 0px!important;


    background-color: white !important;
    color:black;
    border-radius: 20px 0px 0px 20px!important;
    box-shadow: none !important;
}