.outPutWeekButton {
    border-radius: 0px !important;
}
ul:nth-of-type(1) {
    list-style-type: disc;
    
  }
  
.arrows {
    height:20px;
}
.formsForJob {
    position:relative !important;
    bottom:0px !important;
    
}