.outPutWeekButton {
    border-radius: 0px !important;
}
ul:nth-of-type(1) {
    list-style-type: disc;
    
  }
  
.arrows {
    height:20px;
}
.formsForJob {
    position:relative !important;
    bottom:0px !important;
    
}
.no-spinners {
    /* Disable the increment and decrement buttons in webkit browsers */
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: textfield; /* Rest of the browsers */
  
    /* Remove the default inner and outer spin buttons */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      display: none;
    }
  }

.NoEmployeeAlert{
    position:absolute!important;
    top:75px!important;
    width:60%!important;
    margin-left:10%!important;
    z-index: 1;
    opacity: 90%;
}